
[user]
  name = Hiroshi Ito
  email = itohiro73@gmail.com
[core]
  autocrlf = input
  safecrlf = true
[alias]
  ls = log --oneline --graph --decorate --all
  l = log --oneline --graph --decorate --all --date=short --pretty='format:%C(yellow)%h %C(green)%cd %C(white)%an%C(red)%d %C(reset)%s'
  co = checkout
  f = fetch --all --prune
  p = push origin master
